{% load staticfiles %}

<html lang="ko" class=" ">
<style type="text/css" id="_jmc_no_tap_highlight_tag_"></style>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="흰 지팡이의 날 네이버 모바일 시뮬레이션">
  <meta property="og:image" content="#">
  <meta property="og:description" content="으아 시뮬레이션~ 으아~~~">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>NAVER 시뮬레이션</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/audio_clip.css' %}" />
</head>
<body>
  <div id="wrap">
    <div id="header" class="sub end" role="banner">
      <div class="gnb">
        <a href="/braille_experience" class="naver_logo_sub">
          <i class="ico_naver_logo_sub">네이바</i>
        </a>
        <h1>
          <a href="/braille_experience" class="logo2">
            <span class="ico_post_logo_sub">포스트</span>
          </a>
        </h1>
      </div>
    </div>
    <div id="cont" class="end __viewer_container" role="main" style="touch-action: pan-y; user-select: none; ">
      <div class="se_comp_wrap">
        <div class="se_background" style="background-image: url(https://post-phinf.pstatic.net/MjAxNjExMjFfNDIg/MDAxNDc5NzM0MDA4Mzkx.U3qS3o62PdeXoUjkKRX4igcflGnU30boxKZW2ekmd70g.ievobPKdO-87wenipGD7eYCvl-r8AlUyN3N5Fzu7jhkg.PNG/photo-1478737270239-2f02b77fc618.png?type=w800_q75); background-position:50% 50%">
  	    	<div class="se_background_dim"></div>
  	    </div>
        <div class="se_sectionArea is-fill se_align-ctner">
          <div class="se_series">오디오클립, 오디오 콘텐츠 제안</div>
          <div class="se_editArea">
          	<div class="se_viewArea se_ff_nanumbarungothic se_fs_D1">
  	            <div class="se_editView se_title">
  	                <div class="se_textView">
                          <h3 class="se_textarea">
                              오디오클립과 함께 <br>오디오 콘텐츠를 만들어갈<br>여러분을 기다립니다.
                          </h3>
  	                </div>
  	            </div>
  	        </div>
          </div>
          <div class="se_container">
            <img src="https://post-phinf.pstatic.net/MjAxNjEyMDJfNDEg/MDAxNDgwNjY1ODExNjM5.ssCYUezlAe7ZgtXgyG49wk-gnXBYtBE8nMpwzAipKhIg.mu20kzt5UJ8K6G_pmEQCLMG_AfLtZejfEivonDRo9tMg.JPEG/post_5642242781743781633.jpg?type=f120_120" data-src="https://post-phinf.pstatic.net/MjAxNjEyMDJfNDEg/MDAxNDgwNjY1ODExNjM5.ssCYUezlAe7ZgtXgyG49wk-gnXBYtBE8nMpwzAipKhIg.mu20kzt5UJ8K6G_pmEQCLMG_AfLtZejfEivonDRo9tMg.JPEG/post_5642242781743781633.jpg?type=f120_120" onerror="this.onerror=null;this.src='https://ssl.pstatic.net/static.post/image/im/img_default.gif'" alt="오디오클립 포스트님의 프로필 사진" class="profile_image">
            <div class="se_group">
              <div class="se_author_area">
                <p>오디오 클립 ...</p>
                <p style="color:00c73c; font-size:13px; padding-left:15px;">1만 팔로잉</p>
              </div>
            </div>
            <p class="se_detail">
              <span class="se_publishData">2018.10.15. 00:00</span>
              <span class="se_view">85,201 읽음</span>
            </p>
          </div>
      </div>
    </div>
    <div class="desc">
      <div class="page">
        <div class="sector">
          <p> 맞춤법 검사를 원하는 단어나 문장을 직접 입력 또는 붙여 넣기 해주세요. 방금 한글 표준 점자를 통해 읽어보신 문장은 윤동주 시인의 시 '서시'의 한 구절 "오늘 밤에도 바람이 별에 스친다."입니다. 점자는 시각장애인의 문자 소통을 위해 개발되었지만, 글을 읽는 어려움으로 인해 전체 시각 장애인 중 오직 40%만이 점자를 통해 이 문구를 읽을 수 있다고 합니다.
          </p>
        </div>
        <div class="sector">
          <p> 점자를 읽을 수 있다고 하여도 읽을 점자책이 별로 없다는 문제도 있습니다. 점자 책 제작 과정의 어려움 때문에 전체 출판물 중 오직 2%만이 점자로 번역되어 있고, 그마저도 각 지자체 별로 점자 번역을 지원하는 정도가 달라 시각장애인에게 독서는 더 어려운 일이 되었습니다.
          </p>
        </div>
        <div class="sector">
          <p>오디오 클립은 네이버의 여러 음성기술과 함께 시각장애인은 물론 모든 사람들이 세상의 이야기를 만들고, 경험하고, 공유할 수 있는 오디오 콘텐츠 전용 플랫폼입니다. 시각장애인의 인권을 기념하는 날인 10월 15일 흰 지팡이의 날에 맞추어, 문장이 가져다주는 아름다움의 혜택을 모두가 누릴 수 있도록 더 많은 콘텐츠를 늘리기 위해 새로운 채널에 대한 제안을 받고 있습니다.
          </p>
        </div>
        <div class="sector">
          <h3>네이버의 기술을 활용하여 모두에게 평등한 기쁨을 나누는 새로운 오디오 세상, 오디오클립에서 지금 만나 보세요.</h3>
        </div>
        <div class="sector">
          <img id="SEDOC-1503378544674-736938804_image_1_img" class="se_mediaImage __se_img_el" src="https://post-phinf.pstatic.net/MjAxNzAzMDNfNyAg/MDAxNDg4NTIyMDIxOTQw.98DxTn7fKekKyE8bp1FjWjYGwsSHAERObIXnwCujznQg.xCprSz030gdjGPHLtkUN0Ee4xPu5j3l4-BNopkxoKAIg.PNG/postbtn_04.png?type=w1200" data-src="https://post-phinf.pstatic.net/MjAxNzAzMDNfNyAg/MDAxNDg4NTIyMDIxOTQw.98DxTn7fKekKyE8bp1FjWjYGwsSHAERObIXnwCujznQg.xCprSz030gdjGPHLtkUN0Ee4xPu5j3l4-BNopkxoKAIg.PNG/postbtn_04.png?type=w1200" width="345" height="76" data-attachment-id="I7zNoFy9S--VyDsLo92oD5XweBH8" alt="">
        </div>
      </div>
      <div class="page">
        <div class="quotation">
            <h2>오디오클립은 '듣는 콘텐츠'를 담는 플랫폼입니다.</h2>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <img id="SEDOC-1503378544674-736938804_image_2_img" class="se_mediaImage __se_img_el" src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" data-src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" width="2630" height="2208" data-attachment-id="IN57Ni5rZkQ6Ac70mQPb4erTAQR0" alt="">
        </div>
      </div>
      <div class="page">
        <div class="quotation">
            <h2>오디오클립은 새로운 '듣기 경험'을 제공하는 플랫폼입니다.</h2>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <img id="SEDOC-1503378544674-736938804_image_2_img" class="se_mediaImage __se_img_el" src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" data-src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" width="2630" height="2208" data-attachment-id="IN57Ni5rZkQ6Ac70mQPb4erTAQR0" alt="">
        </div>
      </div>
      <div class="page">
        <div class="quotation">
            <h2>글감 기능을 통해, 타 플랫폼으로 확장된, 보다 상세한 정보를 제공하고 있기도 합니다.</h2>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <p>출퇴근길 지하철에서, 친구를 기다리는 카페에서, 잠들기 전, 내 손안의 작은 세상, 스마트폰에 접속하기만 하면 우리는 언제 어디서나 우하는 콘텐츠를 찾아서, 읽고, 보고, 들을 수 있습니다.</p>
        </div>
        <div class="sector">
          <img id="SEDOC-1503378544674-736938804_image_2_img" class="se_mediaImage __se_img_el" src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" data-src="https://post-phinf.pstatic.net/MjAxNzA3MTlfMTMy/MDAxNTAwNDY1MDU1MTQ2.IdPkpvNe88SD6cyHwF_zVRutV2rUDWDS53OjqEBSpIog.gTaVd4FAWhKjxA8Sb83BXNRn8y38uF7kkJp6_Hv5AFAg.JPEG/1.jpg?type=w800_q75" width="2630" height="2208" data-attachment-id="IN57Ni5rZkQ6Ac70mQPb4erTAQR0" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/audio_clip.js' %}"></script>
</body>
</html>
